<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ufcg.ccc.homeautomation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="br.edu.ufcg.ccc.homeautomation.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.edu.ufcg.ccc.homeautomation.MainActivity1"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="br.edu.ufcg.ccc.homeautomation.FirstMenu"
            android:label="@string/title_activity_first_menu" >
        </activity>
        <activity
            android:name="br.edu.ufcg.ccc.homeautomation.MainActivity2"
            android:label="@string/title_activity_main2" >
        </activity>
        <activity
            android:name="br.edu.ufcg.ccc.homeautomation.AdminActivity"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name="br.edu.ufcg.ccc.homeautomation.DeviceEdit"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.edu.ufcg.ccc.homeautomation.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.edu.ufcg.ccc.homeautomation.ChildActivity"
            android:label="@string/title_activity_child"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="br.edu.ufcg.ccc.homeautomation.GuideActivity"
            android:label="@string/title_activity_guide" >
        </activity>

        <activity
            android:name="br.edu.ufcg.ccc.homeautomation.GuideActivityRoot"
            android:label="@string/title_activity_guide_activity_root" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>